.grocery-list-container {
    position: relative;
}

.grocery-list {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
    background-color: var(--eigth-color);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 300px;
    overflow-y: auto;
    z-index: 9999;
}

@font-face {
    font-family: 'Hongkong';
    src: url('../fonts/Hongkong-MPv.ttf') format('truetype');
}

.grocery-list h2 {
    margin-top: 0;
    font-size: 20px;
    font-family: 'Hongkong';
    color: var(--second-color);
    margin-bottom: 15px;
    text-align: center;
}

.grocery-list ul {
    padding: 0;
    list-style-type: disc;
}

.grocery-list li {
    margin: 0;
}

.grocery-list input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.toggle-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 8px 15px;
    background-color: var(--sixth-color);;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.toggle-button:hover {
    background-color: var(--seventh-color);
}

.remove-button {
    margin-left: 10px;
}

.input-container {
    position: relative;
}

.translucent-text {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: rgba(0, 0, 0, 0.5);
}

.list-input {
    padding-left: 10px;
}

.save-button {
    position: relative;
    padding: 10px 20px;
    background-color: var(--sixth-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
    margin-right: 10px;
}

.print-button {
    position: relative;
    padding: 10px 20px;
    background-color: var(--sixth-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.save-button:hover {
    background-color: var(--seventh-color);
}

.print-button:hover {
    background-color: var(--seventh-color);
}

.item-list {
    padding-left: 0;
}

.item-list li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.item-list li span {
    flex-grow: 1;
}

.item-list li button {
    margin-left: 10px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 8px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}