@import url("/src/App.css");

.navbar {
    background-color: #f3f3f3;
    padding: 10px;
    text-align: center;
    width: 100%;
    color: #333;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-right {
    display: flex;
    align-items: center;
    background-color: var(--fifth-color);
    padding: 10px 0;
    padding-left: 10vw;
}

.nav-link {
    text-decoration: none;
    color: var(--second-color);
}

#loginBtn {
    text-decoration: none;
    color: #333;
    font-weight: 400;
}

.logout {
    text-decoration: none;
    color: var(--second-color);
    background:none;
    border:none;
    cursor: pointer;
    font:inherit;
    padding-left:3vh;
    outline:inherit;
}

#modeIcon{
    width:30px;
    cursor:pointer;
}