@import url("/src/App.css");

.navbar {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: var(--fifth-color);
    padding: 10px 0;
    padding-left: 10vw;
}

.nav-link {
    margin: 30px; /* Add spacing between the links */
    text-decoration: none;
    color: var(--second-color);
}

#authButton {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1; /* Let the button take remaining space */
    padding-right: 10vw; /* Adjust according to your layout */
}

.logout {
    margin: 30px; /* Add spacing between the links */
    text-decoration: none;
    color: var(--second-color);
    background: none;
    border: none;
    cursor: pointer;
    font: inherit;
    padding-left: 3vh;
    outline: inherit;
}

#modeIcon {
    width: 30px;
    cursor: pointer;
}

/* Media Query for Mobile Devices */
@media only screen and (max-width: 768px) {
    .navbar {
        padding-left: 5vw; /* Adjust as needed */
        padding-right: 5vw; /* Adjust as needed */
        justify-content: center; /* Center align items on mobile */
        align-items: center; /* Center vertically */
        flex-direction: column; /* Display vertically */
    }
    .nav-link {
        margin: 10px; /* Reduce spacing between links on mobile */
    }
    #authButton {
        padding-right: 0; /* Remove right padding on mobile */
    }
    .logout {
        margin: 10px; /* Reduce spacing between links on mobile */
        padding-left: 0; /* Remove left padding on mobile */
    }
}
