.modal, .overlay{
    width: 100vw;
    height:100vh;
    inset:0;
    position:fixed;
}

.overlay{
    background:rgba(49,49,49,0.8);
}

body.overlayScrollBlock {
    max-height: 100%;
    overflow: hidden;
}

.fullDetails{
    position: absolute;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%);
    line-height: 1.4;
    background: var(--fifth-color);
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}

.closeModal{
    position:absolute;
    bottom: 5;   
    padding: 10px 20px;
    border-radius: 5px;
    background-color: var(--sixth-color);
    color:var(--fourth-color);
}