.shopping-list-container {
    position: relative; /* Add this to allow absolute positioning of the button */
}

.shopping-list {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: fit-content;
}

.shopping-list h2 {
    margin-top: 0;
    font-size: 20px;
    color: #333;
    margin-bottom: 15px;
}

.shopping-list li {
    list-style-type: none;
    padding: 0;
}

.shopping-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.shopping-list input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.toggle-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 8px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.toggle-button:hover {
    background-color: #45a049;
}