main {
  margin-top: 20px;
}

.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  gap: 40px;
}

.auth-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: var(--fifth-color);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  max-width: calc(50% - 40px);
}

.auth-container h2 {
  color: var(--third-color);
  font-size: 24px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
}

.auth-input[type="text"],
.auth-input[type="password"] {
  padding: 8px;
  width: 100%;
  border: 1px solid var(--fourth-color);
  border-radius: 5px;
  box-sizing: border-box;
}

.auth-button {
  padding: 10px 20px;
  background-color: var(--third-color);
  color: var(--fourth-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-group.recaptcha {
  margin-top: 10px;
}