@media screen and (max-width: 768px) {
  .featured-recipes {
    flex-direction: column;
  }

  .recipe {
    width: 100%;
    margin-bottom: 30px;
  }
}

body {
  background-color: #d3f7e6;
  color: #333;
}

body.dark {
  background-color: #2e1e35;
  color: #dcd6f7;
}

.logo-container {
  display: flex;
  justify-content: center;
}

.logo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.container {
  width: 80%;
  margin: 0 auto;
  transition: background-color 0.3s, color 0.3s; 
}

header {
  background-color: #5eba8d;
  padding: 10px;
  text-align: center;
}

header h1,
header p {
  color: #fff;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

nav ul li a:hover {
  color: #5eba8d;
}

.featured-recipes {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.left-column,
.right-column {
  width: 45%;
}

.recipe {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe h3 {
  color: #333;
  text-align: center;
}

.recipe p {
  color: #666;
  text-align: center;
}

.recipe-image {
  width: 100%;
  max-width: 100%;
  height: auto;
}

footer {
  background-color: #5eba8d;
  padding: 10px;
  text-align: center;
  width: 100%;
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  transition: background-color 0.3s, color 0.3s; 
}

body.dark .container,
body.dark header,
body.dark nav ul li a,
body.dark .recipe h3 {
  background-color: #2e1e35;
  color: #dcd6f7;
}

body.dark footer {
  background-color: #8b2e3d;
}

body.dark nav ul li a:hover {
  color: #dcd6f7;
}

body.dark .recipe p {
  color: #bfa4b8;
}