.pantry {
    background-color: var(--fifth-color);
    border: 2px solid var(--third-color);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 55px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    width: 65%;
}

.pantryHeader {
    color: var(--second-color);
    text-align: center;
}

.ingredientBox {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 20px;
    color: black;
    outline: none;
    margin-right: 15px;
    margin-bottom: 10px;
}

.ingredientBox::placeholder {
    color: #999;
    font-style: italic;
    opacity: 1;
}

.ingredientContainer {
    margin-bottom: 10px;
}

.ingredientBox:focus {
    font-size: 20px;
}

.ingredient {
    border-radius: 8px;
    color: black;
    font-size: 20px;
    padding: 5px;
    overflow: hidden;
    width: 50%;
    background-color: var(--fourth-color);
    border: 1px solid #ccc;
}

.ingredients-container {
    margin-left: 10%;
    margin-right: 10%;
}

.pantrySearchButton {
    color: var(--fourth-color);
    background-color: var(--sixth-color);
    font-size: 20px;
    border: 4px var(--third-color);
    border-radius: 8px;
    height: 40px;
}

.pantrySearchButton:hover {
    color: var(--fourth-color);
	background-color: var(--seventh-color);
}

.ingredientItem {
    display: inline-flex;
    width: 100%;
}

.removeButton {
    margin-left: 10px;
    font-size: 20px;
    padding: 5px;
    border: 1px solid red;
    background-color: red;
    color: var(--fourth-color);
    border-radius: 8px;
    height: 35px;
    width: 35px;
}

.removeButton:hover {
    background-color: #af332a;
    color: var(--fourth-color);
}

.pantryRecipe {
    border: 4px solid var(--sixth-color);
    border-radius: 8px;
    margin-left: 15%;
    margin-right: 25%;
    margin-bottom: 25px;
    width: 80%;
    color: var(--second-color);
    background-color: var(--eigth-color);
    list-style-type: none;
    padding: 10px;
}

.pantryRecipeTitle {
    text-align: center;
}

.recipeImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    width: 80%;
    border: 4px solid var(--sixth-color);
    border-radius: 8px;
}

.buttons {
    padding-bottom: 10px;
}

.recipeList {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content:center; 
    text-align: center;
    gap: 20px;
}

.pantryRecipeListItem {
    display: grid;
    grid-template-columns: 220px 280px;
    grid-template-rows: 190px 50px 50px 50px 5px;
    border: 3px solid var(--third-color);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background-color: var(--fifth-color);
    width:80%;
  }

.pantryRecipeListItemTitle {
    overflow-wrap: break-word;
    padding-left: 15px;
}

.pantryRecImg{
    padding-top: 20px;
    display: flex;
    margin-left: 20%;
}

.pantryRecipeTitle {
    margin-left: 15px;
}

.modalBG {
    text-align: center;
}

.saveBG {
    text-align: center;
}