.recipeList {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content:center; 
}

.recipeListItem {
    width: 350px;
    height: 350px;
    margin: 10px;
  }

.recipeListItemTitle {
    overflow-wrap: break-word;  
}
