.modal, .overlay{
    width: 100%;
    height:100%;
    inset:0;
    position:fixed;
}

.overlay{
    background:rgba(49,49,49,0.8);
}

body.overlayScrollBlock {
    max-height: 100%;
    overflow: hidden;
}

.fullDetails{
    border-radius: 50%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    line-height: 1.4;
    background: var(--fifth-color);
    padding: 40px 65px;
    border-radius: 3px;
    width: 850px;
    height:800px;
    background-image: var(--border-lrg);
    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-size:975px 875px;
    overflow-y: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.closeModal{
    position:fixed;
    right:13%;
    bottom: 12%;   
    padding: 10px 20px;
    border-radius: 5px;
    background-color: var(--sixth-color);
    color:var(--fourth-color);
}

.closeModal:hover{
    background-color: var(--seventh-color);
}

.printButton{
    position: fixed;
    padding: 10px 24px;
    border-radius: 5px;
    background-color: var(--sixth-color);
    color:var(--fourth-color);
    right:22%;
    bottom: 12%;
}

.printButton:hover{
    background-color: var(--seventh-color);
}

.recName{
    padding-top: 55px;
    text-align: center;
    font-size: 30px;
    max-width: 900px;
}

.logos{
    border-radius: 50%;
    padding-right: 10px;
}

.cuisineHeader {
    text-align: left;
}

.ingBox{
    background-color: var(--first-color);
    width: 43%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 300px;
    border-radius: 10px;
}

.dirBox{
    background-color: var(--first-color);
    width:45%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 300px;
    border-radius: 10px;
}

.boxes {
    display: flex;
    column-gap: 20px;
    padding-left: 5%;
    padding-bottom: 20px;
    padding-top:2%;
}

.ingBox::-webkit-scrollbar, .dirBox::-webkit-scrollbar{
    display: none;
}

.ingHead, .directionsHeader {
    text-align: center;
    text-shadow:0px 0px 10px rgba(0, 0, 0, 0.1) ;
}

.ingCheck:checked + .ingLabel{
    text-decoration: line-through;
}

input[type="checkbox"]{
    accent-color: var(--seventh-color);
    width:18px;
    height:18px;
}

.sourceURL{
    color: var(--sixth-color);
}
.sourceURL:visited{
    color:var(--sixth-color)
}
.sourceURL:hover{
    color: var(--seventh-color);
}
.sourceURL:active{
    color: var(--seventh-color);
}

.sourceURL:invalid{
    color:black;
}

/* Specific for Local Modal */

.cuisTagsBox{
    max-width: 850px;
    padding-left: 50px;
}

#localBoxes{
    padding-left: 10%;
}

li{
    padding-bottom: 5px;
}

/* For smaller screens */

@media only screen and (max-width: 1280px) {
    .fullDetails{
        width:700px;
        height:650px;
        background-image: var(--border-lrg);
        background-position-x:40%;
        background-position-y:50%; ;
        background-size: 830px 730px;
    }
    .recName{
        padding-top: 30px;
    }
    .closeModal{
        bottom:12%;
        right: 12%;
    }
    .dirBox,.ingBox{
        max-height: 230px;
    }
    .boxes{
        padding-bottom: 10px;
    }
}